.about {
  background-color: var(--light-beige);
  min-height: 100vh;
  padding: 3rem 5% 2rem;
  line-height: 1.2;
}

.about_title {
  color: var(--beige);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about_subtitle {
  color: var(--bg-color-darker);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-bottom: 1rem;
}

.about_content {
  color: var(--text-color);
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 0;
  font-size: 20px;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .about_content {
    margin-top: 2rem;
    font-size: 35px;
  }
}
