.about {
    margin: 1rem;
    margin-top: 2rem;
}

.about h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: .60rem;
}

.about h2 {
    font-family: "Montserrat", sans-serif;
    display: inline;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}