.footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--light-beige);

    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.footer_socials {
    display: flex;
}

.footer_media {
    align-self: center;
    display: flex;

    width: 30px;
    height: 30px;

    margin: 2rem 1rem;
}

.footer_nav {
    color: var(--branco);
    text-align: center;
    line-height: 3;
}


.footer_link {
    display: inline-block;

    margin: 0 .5rem .7rem;
}

@media screen and (min-width: 1024px) {
    .rodape {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .rodape__navegacao {
        text-align: left;

        min-width: 600px;
    }
}