.form {
    display: flex;
    flex-direction: column;
    background-color: var(--light-beige);
    min-height: 100vh;
    padding: 3rem 2rem;
    align-items: center;
}

.form h1 {
    font-family: "Bebas Neue", cursive;
    color: var(--beige);
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form_input {
    width: 100%;
    padding: 5px;
}