.form {
    display: flex;
    flex-direction: column;
    background-color: var(--light-beige);
    min-height: 50vh;
    padding-top: 2rem;
    align-items: center;
}

.form h1 {
    font-family: "Bebas Neue", cursive;
    color: var(--beige);
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form_input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    appearance: none;
    background: var(--input);
    padding: 12px;
    border-radius: 3px;
    margin-top: 2rem;
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color: #222;
    transition: color 0.3s ease;
}