.header {
  color: var(--branco);

  width: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  border-bottom: 1px solid var(--borda-cabecalho-mobile);

  position: absolute;
}
